# shortcuts
alias install="sudo apt-get install"
alias update="apt-get -qq update && apt-get -qq upgrade"
alias c="clear"
alias tar="tar -czvf"
alias untar="tar -xvzf"
alias clipboard="pbcopy"

# commands
alias refresh="source ~/.bashrc"
alias file_search="find . -name"
alias word_search="grep -ri * -e"
alias differences="diff -B -y --suppress-common-lines"
alias aliases="vim ~/dotfiles/.aliases"
alias vim="vim -u ~/.vim/.vimrc"
alias vi="vim -u ~/.vim/.vimrc"

# functions
test_app () {
  docker run -d --name=$1 -p=8080:8080 --expose=8080 --rm $1
}

copy () {
  cat $1 | pbcopy
}

