# shortcuts
alias install="sudo apt install -y -q"
alias update="apt update -y -q && apt upgrade -y -q"
alias c="clear"
alias tar="tar -czvf"
alias untar="tar -xvzf"
alias clipboard="pbcopy"

# commands
alias refresh="source ~/.zshrc"
alias file_search="find . -name"
alias word_search="grep -ri * -e"
alias differences="diff -B -y --suppress-common-lines"
alias aliases="vim ~/.aliases"

# functions
copy () {
  cat $1 | pbcopy
}

