# shortcuts
alias install="sudo apt install -y -q"
alias c="clear"
alias tar="tar -czvf"
alias untar="tar -xvzf"
alias clipboard="pdcopy"
alias back="cd $OLDPWD"
alias vscode="code"
alias cron_logs="grep CRON /var/log/syslog"

# commands
alias refresh="source $HOME/dotfiles/sink/.zshrc"
alias file_search="find . -name"
alias word_search="grep -ri * -e"
alias differences="diff -B -y --suppress-common-lines"
alias aliases="vim $HOME/dotfiles/sink/.aliases"
alias vscode_settings="vim $HOME/dotfiles/sink/vscode/settings.json"

# functions
copy () {
  cat $1 | pbcopy
}

make_zip () {
  zip -r $1.zip $1
}

